USE [master]
GO
/****** Object:  Database [Training]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE DATABASE [Training]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Training', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\Training.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Training_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\Training_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Training].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Training]
GO
/****** Object:  User [TTSApp]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE USER [TTSApp] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TEMPDBA]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE USER [TEMPDBA] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [QCSAppUser]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE USER [QCSAppUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CORP\castellanosee]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE USER [CORP\castellanosee] FOR LOGIN [CORP\castellanosee] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [CORP\castellanosee]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [CORP\castellanosee]
GO
/****** Object:  View [dbo].[LineOperation]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  
VIEW [dbo].[LineOperation]

as
   
   
	
	select   '' IdOperation ,'' IdLine ,'' Routing
GO
/****** Object:  View [dbo].[Operation]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
VIEW [dbo].[Operation]
AS


SELECT	'' AS IdOperation,
				'' as [Description],
				'' as TitularRequired,
	 '0'  PercentageRequired
GO
/****** Object:  Table [dbo].[Area]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[IdArea] [smallint] NOT NULL,
	[Area] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[IdDepartment] [smallint] NOT NULL,
	[IdClave] [varchar](50) NULL,
	[Department] [varchar](150) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmployee] [varchar](10) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[LastName] [varchar](250) NOT NULL,
	[RFC] [varchar](25) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Email] [varchar](100) NULL,
	[Shift] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
	[Phone] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAccount]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAccount](
	[IdEmployee] [varchar](10) NOT NULL,
	[Domain] [varchar](50) NULL,
	[Password] [binary](32) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDepartment]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDepartment](
	[IdEmployee] [varchar](10) NOT NULL,
	[IdDepartment] [smallint] NOT NULL,
	[IdArea] [smallint] NULL,
	[IdPosition] [smallint] NOT NULL,
	[Line] [varchar](50) NULL,
	[Shift] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employeesss]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employeesss](
	[IdEmployee] [varchar](10) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[LastName] [varchar](250) NOT NULL,
	[RFC] [varchar](25) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[Email] [varchar](100) NULL,
	[Shift] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
	[Phone] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[IdInstructor] [int] NOT NULL,
	[Idkey] [varchar](50) NULL,
	[Description] [varchar](150) NULL,
	[Phone] [varchar](50) NULL,
	[Cell] [varchar](50) NULL,
	[RCF] [varchar](50) NULL,
	[Direction] [varchar](max) NULL,
	[Status] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectLog]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectLog](
	[ObjectType] [varchar](50) NOT NULL,
	[IdUser] [varchar](10) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[PrimaryKeyString] [varchar](100) NOT NULL,
	[UpdateData] [xml] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[IdPosition] [smallint] NOT NULL,
	[IdKey] [nvarchar](50) NULL,
	[Position] [varchar](150) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [smallint] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[Icon] [varchar](25) NOT NULL,
	[Color] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleSystemOption]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleSystemOption](
	[IdRole] [smallint] NOT NULL,
	[IdSystemArea] [varchar](50) NOT NULL,
	[IdSystemOption] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RoleSystemOption] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC,
	[IdSystemArea] ASC,
	[IdSystemOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemArea]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemArea](
	[IdSystemArea] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Icon] [varchar](25) NULL,
 CONSTRAINT [PK_SystemArea] PRIMARY KEY CLUSTERED 
(
	[IdSystemArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemOption]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemOption](
	[IdSystemArea] [varchar](50) NOT NULL,
	[IdSystemOption] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_SystemOption_1] PRIMARY KEY CLUSTERED 
(
	[IdSystemArea] ASC,
	[IdSystemOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainigType]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainigType](
	[IdTrainig] [int] IDENTITY(1,1) NOT NULL,
	[idKEY] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[TimeTraining] [int] NULL,
	[Diploma] [bit] NULL,
	[Status] [varchar](max) NULL,
 CONSTRAINT [PK_TrainigType] PRIMARY KEY CLUSTERED 
(
	[IdTrainig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [varchar](10) NOT NULL,
	[IdRole] [smallint] NOT NULL,
	[Language] [varchar](3) NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_User_2] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[IdUserNotification] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [varchar](10) NOT NULL,
	[ItemKey] [varchar](25) NULL,
	[NotificationType] [varchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Read] [bit] NOT NULL,
	[ReadDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_UserNotification] PRIMARY KEY CLUSTERED 
(
	[IdUserNotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTraining]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTraining](
	[IdUserTraining] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [varchar](10) NOT NULL,
	[IDtraining] [int] NULL,
	[IDkeyTraining] [varchar](50) NULL,
	[IdInstructor] [int] NULL,
	[IdMachine] [int] NULL,
	[IdTestName] [smallint] NULL,
	[IdUserTrainingCorporate] [int] NULL,
	[Ethics] [bit] NOT NULL,
	[FileName] [varchar](150) NULL,
	[Comment] [varchar](250) NULL,
	[Evidence] [varchar](50) NULL,
	[IdUserTrainingFrequency] [int] NULL,
	[DateEffective] [datetime] NULL,
	[CreatedBy] [varchar](10) NULL,
	[DateCreated] [datetime] NULL,
	[UpdatedBy] [varchar](10) NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Advance] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_UserTraining] PRIMARY KEY CLUSTERED 
(
	[IdUserTraining] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTrainingFrequency]    Script Date: 7/22/2026 2:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTrainingFrequency](
	[IdUserTrainingFrequency] [int] IDENTITY(1,1) NOT NULL,
	[TrainingFrequency] [varchar](50) NOT NULL,
	[Days] [smallint] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_UserTrainingFrequency] PRIMARY KEY CLUSTERED 
(
	[IdUserTrainingFrequency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [[status]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[status]]] ON [dbo].[Employee]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [[Status] [Name] [LastName]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[Status]] [Name]] [LastName]]] ON [dbo].[Employee]
(
	[Name] ASC,
	[LastName] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [[Active]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[Active]]] ON [dbo].[User]
(
	[Active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [[IdRole]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[IdRole]]] ON [dbo].[User]
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [[IdUser]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[IdUser]]] ON [dbo].[User]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [[IdUser] [IdMachine] [Status]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[IdUser]] [IdMachine]] [Status]]] ON [dbo].[UserTraining]
(
	[IdUser] ASC,
	[IdMachine] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [[IdUserTrainingCorporate] [Status]]    Script Date: 7/22/2026 2:00:04 PM ******/
CREATE NONCLUSTERED INDEX [[IdUserTrainingCorporate]] [Status]]] ON [dbo].[UserTraining]
(
	[IdUserTrainingCorporate] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Area] ADD  CONSTRAINT [DF_Area_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Employeesss] ADD  CONSTRAINT [DF_Employeess_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Instructor] ADD  CONSTRAINT [DF_Instructor_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_Icon]  DEFAULT ('dot-circle') FOR [Icon]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_Color]  DEFAULT ('blue') FOR [Color]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_UserRole_Language]  DEFAULT ('SPA') FOR [Language]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[UserNotification] ADD  CONSTRAINT [DF_UserNotification_Read]  DEFAULT ((0)) FOR [Read]
GO
ALTER TABLE [dbo].[UserNotification] ADD  CONSTRAINT [DF_UserNotification_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[UserTraining] ADD  CONSTRAINT [DF_UserTraining_Ethics]  DEFAULT ((0)) FOR [Ethics]
GO
ALTER TABLE [dbo].[UserTraining] ADD  CONSTRAINT [DF_UserTraining_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[UserTrainingFrequency] ADD  CONSTRAINT [DF_UserTrainingFrequency_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[RoleSystemOption]  WITH CHECK ADD  CONSTRAINT [FK_RoleSystemOption_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[RoleSystemOption] CHECK CONSTRAINT [FK_RoleSystemOption_Role]
GO
ALTER TABLE [dbo].[RoleSystemOption]  WITH CHECK ADD  CONSTRAINT [FK_RoleSystemOption_SystemOption] FOREIGN KEY([IdSystemArea], [IdSystemOption])
REFERENCES [dbo].[SystemOption] ([IdSystemArea], [IdSystemOption])
GO
ALTER TABLE [dbo].[RoleSystemOption] CHECK CONSTRAINT [FK_RoleSystemOption_SystemOption]
GO
ALTER TABLE [dbo].[SystemOption]  WITH CHECK ADD  CONSTRAINT [FK_SystemOption_SystemArea] FOREIGN KEY([IdSystemArea])
REFERENCES [dbo].[SystemArea] ([IdSystemArea])
GO
ALTER TABLE [dbo].[SystemOption] CHECK CONSTRAINT [FK_SystemOption_SystemArea]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role2] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role2]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_UserNotification_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_UserNotification_User]
GO
ALTER TABLE [dbo].[UserTraining]  WITH CHECK ADD  CONSTRAINT [FK_UserTraining_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[UserTraining] CHECK CONSTRAINT [FK_UserTraining_User]
GO
ALTER TABLE [dbo].[UserTraining]  WITH CHECK ADD  CONSTRAINT [FK_UserTraining_User2] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[UserTraining] CHECK CONSTRAINT [FK_UserTraining_User2]
GO
USE [master]
GO
